footer {
    text-align: center;
}
.mittel-link {
    border-left-color: #000000;
    border-left-style: solid;
    border-left-width: 1px;
    border-right-color: #000000;
    border-right-style: solid;
    border-right-width: 1px;
    padding-left: 5px;
    padding-right: 5px;
}
.logout {
    float: right;
}
.logo {
    float: left;
}