/*FH Aachen Font Styles*/
header,footer,body{
    font-family:'Clan',Verdana, Geneva, sans-serif!important;
}

.nav-pills .nav-link.active{
    background-color:#00b5ad;
    color:white;
}
.nav-pills .nav-link:not(.active) {
    color: black;
}

.meilenstein_bearbeiten {
    padding:20px;
    border-style: solid;
    border-width: 1px;
    border-color: #808080;
}

.eingabefelder_meilensteine {
    padding:5px;
}

.meilenstein_erreichungs_tabelle {
    border: 1px solid darkgrey;
    text-align:left;
    margin-left:auto;
    margin-right:auto;
    width:100%;
}

.meilenstein_erreichungs_tabelle thead {
    text-align:left;
    border-bottom: 1px solid darkgrey;
    background-color: #F0F0F0;
}
.tab-content {
    border: 1px solid darkgrey;
    padding:20px;
}

input[type=submit] {
    background-color:#00b5ad;
    color:white;
    border-radius:5px;
 }

.logo img{
    width:100px;
    height:100px;
}

/*Sebastian*/

.link{
    color: #00b5ad;
}

.link:hover{
    color: #005550;
}

.btn{
    background-color: #00b5ad;
    color: #F0F0F0;
}

.btn:hover{
    background-color: #005550;
    color: #F0F0F0;
}

/*---------------*/